<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>login-form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">

		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<link rel="stylesheet" href="sigupPage/css/style.css">
	</head>
	<body>

		<div class="wrapper">
				<h2></h2>
                <form action="/login" method="POST">
					<div class="inner">
						<div class="image-holder">
							<img style="height: 100%; width: 500px;" src="sigupPage/images/xyz2.avif" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3>Login</h3>
							</div>
							<p>Please fill with your details</p>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" name="username" placeholder="Your Name" class="form-control">
								</div>
								<div class="form-holder">
									<input type="email" name="email" placeholder="Your Email" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="password" name="password" placeholder="Password" class="form-control">
								</div>                            
							</div>
                            <%- include("../includes/flash.ejs") %>
							
							<button style="margin-top: 50px;" type="submit">Submit</button>
						</div>
					</div>
				</form>


		<!-- JQUERY -->
		<script src="js/jquery-3.3.1.min.js"></script>

		<!-- JQUERY STEP -->
		<script src="js/jquery.steps.js"></script>
		<script src="../public/sigupPage/js/main.js"></script>
		<!-- Template created and distributed by Colorlib -->
</body>
</html>
